﻿@using TodoApplication.DomainModel

@model TodoList

<div class="modal fade" id="AddEntryModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    Add TODO Entry to the TODO List : @Model.ListName (id:@Model.ID)
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                
                <div>
                    <ul id="add-entry-errors" class="errors" style="font-size:12px; color: red;">
                    </ul>
                </div>

                <div class="form-floating" mb-3>
                    <input asp-for="TodoEntries.LastOrDefault().Title" type="text" class="form-control" id="floatingTitleAdd" value="">
                    <label for="floatingTitleAdd">Entry Title</label>
                </div>

                <br />

                <div class="form-floating mb-3">
                    <input asp-for="TodoEntries.LastOrDefault().DueTime" type="datetime-local" class="form-control" id="floatingDueDateAdd" value="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" min="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')">
                    <label for="floatingDueDateAdd">Due Date</label>
                </div><br />

                <div class="form-floating" mb-3>
                    <textarea asp-for="TodoEntries.LastOrDefault().Description" type="text" class="form-control" rows="3" style="height : 105px" id="floatingDescriptionAdd">@("")</textarea>
                    <label for="floatingDescriptionAdd">Description</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="SubmitAddEntryButton" class="btn btn-primary" onclick="AddEntry(@Model.ID)">Add</button>
            </div>
        </div>
    </div>
</div>
