﻿@using TodoApplication.DomainModel

@model TodoList

<div class="modal fade" id="AddListModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Add TODO list</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <ul id="add-list-errors" class="errors" style="font-size:12px; color: red;">
                    </ul>
                </div>
                <div class="form-floating" mb-3>
                    <input asp-for="ListName" type="text" class="form-control" id="floatingListNameAdd">
                    <label for="floatingListNameAdd">List Name</label>
                </div><br />

                <div class="form-floating" mb-3>
                    <textarea asp-for="Description" type="text" class="form-control" rows="3" style="height : 105px" id="floatingListDescriptionAdd"></textarea>
                    <label for="floatingListDescriptionAdd">Description</label>
                </div><br />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="AddList()">Add</button>
            </div>
        </div>
    </div>
</div>