﻿@using TodoApplication.DomainModel

@model TodoList

<div class="modal fade" id="DeleteListModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure that you want to remove TODO list : @Model.ListName (id:@Model.ID)
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="DeleteList(@(Model.ID))">Delete</button>
            </div>
        </div>
    </div>
</div>