﻿@using TodoApplication.DomainModel

@model TodoEntry


<div class="modal fade lg" id="EntryDetailsModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    Entry Details
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                @if (DateTime.Compare(DateTime.Now, Model.DueTime) > 0)
                {
                    <center>
                        <strong style="color : red">OverDue</strong>
                        <br />
                    </center>
                }

                <strong style="color : blue">@Html.DisplayNameFor(model => model.ID):</strong> @Model.ID
                <br />

                <strong style="color : blue">@Html.DisplayNameFor(model => model.Title):</strong> @Model.Title
                <br />

                <strong style="color : blue">@Html.DisplayNameFor(model => model.Description):</strong>@Model.Description
                <br />

                <strong style="color : blue">@Html.DisplayNameFor(model => model.DueTime):</strong>  @Model.DueTime
                <br />

                <strong style="color : blue">@Html.DisplayNameFor(model => model.CreationTime):</strong>  @Model.CreationTime
                <br />

                <strong style="color : blue">@Html.DisplayNameFor(model => model.Status):</strong>  @Model.Status
                <br />

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>