﻿@using TodoApplication.DomainModel

@model TodoList

<div class="modal fade lg" id="ListDetailsModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    List Details
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <strong style="color : blue">@Html.DisplayNameFor(model => model.ID):</strong> @Model.ID
                <br />

                <strong style="color : blue">@Html.DisplayNameFor(model => model.ListName):</strong> @Model.ListName
                <br />

                <strong style="color : blue">@Html.DisplayNameFor(model => model.Description):</strong> @Model.Description
                <br />

                <strong style="color : blue">@Html.DisplayNameFor(model => model.IsHidden):</strong> @Model.IsHidden
                <br />

                <strong style="color : blue">Number of TODO Entries:</strong> @Model.TodoEntries.Count
                <br />

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>