﻿@using TodoApplication.DomainModel

@model TodoEntry

<div class="modal fade" id="ModifyEntryModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                    Modify TODO entry : "@Model.Title" (id:@Model.ID)
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

                <div>
                    <ul id="modify-entry-errors" class="errors" style="font-size:12px; color: red;">
                    </ul>
                </div>

                <div class="form-floating" mb-3>
                    <input asp-for="Title" type="text" class="form-control" id="floatingTitle" value="@Model.Title">
                    <label for="floatingTitle">Entry Title</label>
                </div>

                <br />

                <div class="form-floating mb-3">
                    <select asp-for="Status" class="form-select" id="floatingStatus" aria-label="Default select example">
                        <option value="@Model.Status" selected disabled hidden>@Model.Status</option>
                        <option value="Not Started">Not Started</option>
                        <option value="In Progress">In Progress</option>
                        <option value="Completed">Completed</option>
                    </select>
                    <label for="floatingStatus">Entry Status</label>
                </div><br />

                <div class="form-floating mb-3">
                    <input asp-for="DueTime" type="datetime-local" class="form-control" id="floatingDueDate" value="@Model.DueTime.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')" min="@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss").Replace(' ','T')">
                    <label for="floatingDueDate">Due Date</label>
                </div><br />

                <div class="form-floating" mb-3>
                    <textarea type="text" class="form-control" rows="3" style="height : 105px" id="floatingDescription">@Model.Description</textarea>
                    <label for="floatingDescription">Description</label>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" id="button@(Model.ID)" class="btn btn-primary" onclick="ModifyEntry(@Model.ID)">Modify</button>
            </div>
        </div>
    </div>
</div>
