﻿@using TodoApplication.DomainModel

@model TodoList

<div class="modal fade" id="ModifyListModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModifyListModal">Modify TODO list : @Model.ListName (id:@Model.ID)</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div>
                    <ul id="modify-list-errors" class="errors" style="font-size:12px; color: red;">
                    </ul>
                </div>

                <div class="form-floating" mb-3>
                    <input asp-for="ListName" type="text" class="form-control" id="floatingListName" value="@Model.ListName">
                    <label for="floatingListName">List Name</label>
                </div><br />

                <div class="form-floating" mb-3>
                    <textarea asp-for="Description" type="text" class="form-control" rows="3" style="height : 105px" id="floatingListDescription">@Model.Description</textarea>
                    <label for="floatingListDescription">Description</label>
                </div><br />

                <div class="form-floating mb-3">
                    <select asp-for="IsHidden" class="form-select" id="floatingIsHidden" aria-label="Default select example">
                        <option value="@Model.IsHidden.ToString().ToLower()" selected disabled hidden>@Model.IsHidden</option>
                        <option value="false">False</option>
                        <option value="true">True</option>
                    </select>

                    <label for="floatingIsHidden">IsHidden</label>
                </div><br />
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="ModifyList(@Model.ID)">Modify</button>
            </div>
        </div>
    </div>
</div>