﻿@inject TodoApplication.Repository.ITodoListsRepository _repository

<div id="modalDiv"></div>

<script>

    function IsTrue(boolStr) {
        if (boolStr == 'true') return true;
        else return false;
    }

    function SetSessionVariableShowHidden(state) {

        _url = "/ShowHidden/" + state;

        $.ajax({
            url: _url,
            contentType: 'application/html; charset=utf-8',
            type: 'POST',
            dataType: 'html',
            success: (function (result) {
                location.reload();
            }),
            error: (function (xhr, status) {
                alert(status);
            })
        });
    }

    function CallModifyEntryModal(_id) {

        _url = "/partial/modifyEntry/-id"
        _url = _url.replace("-id", _id);

        $.ajax({
            url: _url,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: (function (result) {
                $("#modalDiv").empty();
                document.getElementById('modalDiv').innerHTML = result;
                $("#ModifyEntryModal").modal('show');
            }),
            error: (function (xhr, status) {
                alert(status);
            })
        });
    }

    function CallModifyListModal(_id) {

        _url = "/partial/modifyList/-id"
        _url = _url.replace("-id", _id);

        $.ajax({
            url: _url,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: (function (result) {
                $("#modalDiv").empty();
                document.getElementById('modalDiv').innerHTML = result;
                $("#ModifyListModal").modal('show');
            }),
            error: (function (xhr, status) {
                alert(status);
            })
        });
    }

    function CallAddEntryModal(_id) {

        _url = "/partial/addEntry/-id"
        _url = _url.replace("-id", _id);

        $.ajax({
            url: _url,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: (function (result) {
                $("#modalDiv").empty();
                document.getElementById('modalDiv').innerHTML = result;
                $("#AddEntryModal").modal('show');
            }),
            error: (function (xhr, status) {
                alert(status);
            })
        });
    }

    function CallAddListModal() {

        var _url = "@Html.Raw(Url.Action("AddListPartial", "Home"))";

        $.ajax({
            url: _url,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: (function (result) {
                $("#modalDiv").empty();
                document.getElementById('modalDiv').innerHTML = result;
                $("#AddListModal").modal('show');
            }),
            error: (function (xhr, status) {
                alert(status);
            })
        });
    }

    function CallDeleteEntryModal(_id) {
        _url = "/partial/deleteEntry/-id"
        _url = _url.replace("-id", _id);

        $.ajax({
            url: _url,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: (function (result) {
                $("#modalDiv").empty();
                document.getElementById('modalDiv').innerHTML = result;
                $("#DeleteEntryModal").modal('show');
            }),
            error: (function (xhr, status) {
                alert(status);
            })
        });
    }

    function CallDeleteListModal(_id) {
        _url = "/partial/deleteList/-id"
        _url = _url.replace("-id", _id);

        $.ajax({
            url: _url,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: (function (result) {
                $("#modalDiv").empty();
                document.getElementById('modalDiv').innerHTML = result;
                $("#DeleteListModal").modal('show');
            }),
            error: (function (xhr, status) {
                alert(status);
            })
        });
    }

    function CallListDetailsModal(_id) {
        _url = "/partial/listDetails/-id"
        _url = _url.replace("-id", _id);

        $.ajax({
            url: _url,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: (function (result) {
                $("#modalDiv").empty();
                document.getElementById('modalDiv').innerHTML = result;
                $("#ListDetailsModal").modal('show');
            }),
            error: (function (xhr, status) {
                alert(status);
            })
        });
    }

    function CallEntryDetailsModal(_id) {
        _url = "/partial/entryDetails/-id"
        _url = _url.replace("-id", _id);

        $.ajax({
            url: _url,
            contentType: 'application/html; charset=utf-8',
            type: 'GET',
            dataType: 'html',
            success: (function (result) {
                $("#modalDiv").empty();
                document.getElementById('modalDiv').innerHTML = result;
                $("#EntryDetailsModal").modal('show');
            }),
            error: (function (xhr, status) {
                alert(status);
            })
        });
    }

    // HTTP POST
    function AddList() {
        url = '@Url.Action("AddList", "Home")';

        listName = document.getElementById('floatingListNameAdd').value;
        description = document.getElementById('floatingListDescriptionAdd').value;

        $.ajax({
            url,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            //dataType: 'json',
            data: JSON.stringify({
                ListName: listName,
                Description: description
            }),
            success: (function (result) {
                location.reload();
            }),
            error: (function (response) {
                const errorMessages = JSON.parse(response.responseText).errorMessages;

                $("#add-list-errors").empty();

                for (let i = 0; i < errorMessages.length; i++) {
                    document.getElementById('add-list-errors').innerHTML += "<li>" + errorMessages[i] + "</li>";
                }
            })
        });
    }

    // HTTP POST
    function AddEntry(id) {
        _title = document.getElementById('floatingTitleAdd').value;
        _description = document.getElementById('floatingDescriptionAdd').value;
        _dueTime = document.getElementById('floatingDueDateAdd').value;

        url = '/add/entry/-id';
        url = url.replace("-id", id);

        $.ajax({
            url,
            contentType: 'application/json; charset=utf-8',
            type: 'POST',
            //dataType: 'json',
            data: JSON.stringify({
                Title: _title,
                Description: _description,
                DueTime: _dueTime,
                Status: '@_repository.GetDefaultEntryStatusOnCreate()'
            }),
            success: (function (result) {
                location.reload();
            }),
            error: (function (response) {
                const errorMessages = JSON.parse(response.responseText).errorMessages;
                $('#add-entry-errors').empty();
                for (let i = 0; i < errorMessages.length; i++) {
                    document.getElementById('add-entry-errors').innerHTML += "<li>" + errorMessages[i] + "</li>";
                }
            })
        });
    }

    // HTTP PUT
    function ModifyList(id) {
        _id = id;
        _listName = document.getElementById('floatingListName').value;
        _description = document.getElementById('floatingListDescription').value;
        _isHidden = document.getElementById('floatingIsHidden').selectedOptions[0].value;

        url = '@Url.Action("ModifyList", "Home")';

        $.ajax({
            url,
            contentType: 'application/json; charset=utf-8',
            type: 'PUT',
            //dataType: 'json',
            data: JSON.stringify({
                Id: _id,
                ListName: _listName,
                Description: _description,
                IsHidden: IsTrue(_isHidden) 
            }),
            success: (function (result) {
                location.reload();
            }),
            error: (function (response) {
                const errorMessages = JSON.parse(response.responseText).errorMessages;

                $("#modify-list-errors").empty();

                for (let i = 0; i < errorMessages.length; i++) {
                    document.getElementById('modify-list-errors').innerHTML += "<li>" + errorMessages[i] + "</li>";
                }
            })
        });
    }

    // HTTP PUT
    function ModifyEntry(id) {

        _id = id;
        _title = document.getElementById('floatingTitle').value;
        _description = document.getElementById('floatingDescription').value;
        _dueTime = document.getElementById('floatingDueDate').value;
        _status = document.getElementById('floatingStatus').selectedOptions[0].value;

        url = '@Url.Action("ModifyEntry", "Home")';

        $.ajax({
            url,
            contentType: 'application/json; charset=utf-8',
            type: 'PUT',
            //dataType: 'json',
            data: JSON.stringify({
                Id: _id,
                Title: _title,
                Description: _description,
                DueTime: _dueTime,
                Status: _status
            }),
            success: (function (result) {
                location.reload();
            }),
            error: (function (response) {
                const errorMessages = JSON.parse(response.responseText).errorMessages;

                $("#modify-entry-errors").empty();

                for (let i = 0; i < errorMessages.length; i++) {
                    document.getElementById('modify-entry-errors').innerHTML += "<li>" + errorMessages[i] + "</li>";
                }
            })
        });
    }

    // HTTP DELETE
    function DeleteEntry(id) {
        url = '/delete/entry/-id';
        url = url.replace("-id", id);

        $.ajax({
            url,
            contentType: 'application/json; charset=utf-8',
            type: 'DELETE',
            success: (function (result) {
                location.reload();
            }),
            error: (function (response) {
                console.log("Something went wrong. Todo entry with such 'ID' : '" + id + "' does not exist");
                location.reload();
            })
        });
    }

    // HTTP DELETE
    function DeleteList(id) {
        url = '/delete/list/-id';
        url = url.replace("-id", id);

        $.ajax({
            url,
            contentType: 'application/json; charset=utf-8',
            type: 'DELETE',
            success: (function (result) {
                location.reload();
            }),
            error: (function (response) {
                console.log("Something went wrong! Todo list with such 'ID' : '" + id + "' does not exist");
                location.reload();
            })
        });
    }

</script>