﻿@{
    ViewData["Title"] = "Debug";
}

@using System.Collections.Generic
@using System.Data
@using Microsoft.EntityFrameworkCore;
@using TodoApplication.Repository;

@inject ITodoListsRepository _repository

<!DOCTYPE html>
<html>
<head>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>

<body>

    <br />

    <h2>Todo Lists</h2>

    <table>
        <tr>
            <th>ID</th>
            <th>List Name</th>
            <th>IsHidden</th>
        </tr>

        @foreach (var item in Model.TodoLists)
        {
            <tr>
                <td>@item.ID</td>
                <td>@item.ListName</td>
                <td>@item.IsHidden</td>
            </tr>
        }
    </table>

    <br />
    <br />

    <h2>Todo Entries</h2>

    <table>
        <tr>
            <th>Entry Status</th>
            <th>ID</th>
            <th>To do</th>
            <th>Description</th>
            <th>Due Time</th>
            <th>Creation Time</th>
            <th>partOfTodoList</th>
        </tr>

        @foreach (var i in @_repository.TodoLists)
        {
            foreach (var j in i.TodoEntries.OrderByDescending(x => x.Status))
            {
    <tr>
        <td>@j.Status</td>
        <td>@j.ID</td>
        <td>@j.Title</td>
        <td>@j.Description</td>
        <td>@j.DueTime.ToString("MM/dd/yyyy")</td>  
        <td>@j.CreationTime.ToString("MM/dd/yyyy")</td>
        <td>@i.ListName</td>
    </tr>
            }
        }
    </table>
</body>
</html>
