﻿@{
    ViewData["Title"] = "ToDoLists";
}

@using Microsoft.EntityFrameworkCore
@using System.Linq
@using TodoApplication.DomainModel
@using Microsoft.AspNetCore.Http

@model IQueryable<TodoList>

<!DOCTYPE html>
<html>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

        <style>
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                text-align: center;
                align-content: center;
                align-items: center;
            }

            .disabled-link {
                pointer-events: none;
            }
        </style>

    </head>

    <body>

        <partial name="_HttpRequests">

            <div style="display: flex; justify-content: space-between;">
                <a class="btn mt-3 mb-3" onclick="CallAddListModal()"><i class="bi bi-plus-lg"></i></a>
                <div>
                    @{
                        if (Context.Session.GetString("ShowHidden") != "true")
                        {
                            <a class="btn mt-3 mb-3" id="showHidden" onclick="SetSessionVariableShowHidden('true')">ShowHiddenLists</a>
                        }
                        else
                        {
                            <a class="btn mt-3 mb-3" id="hideHidden" onclick="SetSessionVariableShowHidden('false')">HideHiddenLists</a>
                        }
                    }
                </div>
            </div>

            <br />

            @foreach (var i in Model.Include(inc => inc.TodoEntries))
            {
                <div class="container border border-3">
                    <div style="display: flex; justify-content: space-between;">
                        <div style="display  : flex;">
                            <a class="btn mt-3 mb-3" data-bs-toggle="collapse" data-bs-target="#@($"collapse{i.ID}")" aria-expanded="false" aria-controls="@i.ListName">
                                <strong style="color : cornflowerblue">
                                    @i.ListName
                                </strong>
                            </a>
                        </div>

                        <div>
                            <a class="btn mt-3 mb-3" onclick="CallListDetailsModal(@i.ID)"><i class="bi bi-info-circle"></i></a>
                            <a class="btn mt-3 mb-3" onclick="CallAddEntryModal(@i.ID)"><i class="bi bi-plus-lg"></i></a>
                            <a class="btn mt-3 mb-3" onclick="CallModifyListModal(@i.ID)"><i class="bi bi-pencil-square"></i></a>
                            <a class="btn mt-3 mb-3" onclick="CallDeleteListModal(@i.ID)"><i class="bi bi-trash"></i></a>
                        </div>
                    </div>

                    <div class="collapse" id="@($"collapse{i.ID}")">
                        <div>
                            <table>
                                <tr>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TodoEntries.FirstOrDefault().Status)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TodoEntries.FirstOrDefault().Title)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TodoEntries.FirstOrDefault().Description)</th>
                                    <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TodoEntries.FirstOrDefault().DueTime)</th>
                                    @if (i.TodoEntries.Any(x => (DateTime.Compare(DateTime.Now, x.DueTime) > 0)))
                                    {
                                        <th></th>
                                    }
                                    <th></th>
                                </tr>

                                @foreach (var j in i.TodoEntries)
                                {
                                    <tr>
                                        <td>@j.Status</td>
                                        <td>@j.Title</td>
                                        <td style="text-align : justify; word-break : break-all;">@j.Description</td>
                                        <td>@j.DueTime</td>
                                        @if (i.TodoEntries.Any(x => (DateTime.Compare(DateTime.Now, x.DueTime) > 0)))
                                        {
                                            <td>
                                                @if (DateTime.Compare(DateTime.Now, j.DueTime) > 0)
                                                {
                                                    <span style="color : red">OverDue</span>
                                                }
                                            </td>
                                        }

                                        <td>
                                            <div>
                                                <a class="btn mt-3 mb-3" onclick="CallEntryDetailsModal(@j.ID)"><i class="bi bi-info-circle"></i></a>
                                                <a class="btn" onclick="CallModifyEntryModal(@j.ID)"><i class="bi bi-pencil-square"></i></a>
                                                <a class="btn" onclick="CallDeleteEntryModal(@j.ID)"><i class="bi bi-trash"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </table><br />
                        </div>
                    </div>
                </div>

                <br />
            }

            <br />
            <br />
            <br />
    </body>
</html>
